@model HackerRank.ViewModels.UserViewModel
@using Microsoft.AspNetCore.Identity
@using HackerRank.Models.Users;
@using System.Globalization;
@inject SignInManager<User> SignInManager

@{
    bool isSignedIn = SignInManager.IsSignedIn(User);
    if (Model.IsPublic || (isSignedIn && User.Identity.Name == Model.Username) || User.IsInRole("Administrator"))
    {
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        string progress = Math.Round((Model.UserLevel.CurrentExperience - Model.UserLevel.Level.XpNeeded) * 10, 2).ToString() + "%";
        progress = progress.Replace(",", ".");
        int nextlevel = Model.UserLevel.Level.LevelId + 1;

        <div>
            <h2 class="text-capitalize text-center">Prestige @Model.UserLevel.PrestigeLevel, Level @Model.UserLevel.Level.LevelId @Model.UserLevel.Level.LevelName</h2>
            <div class="row flex-row justify-content-center align-items-center">
                <div class="col-1 text-center">@Model.UserLevel.Level.LevelId</div>
                <div class="progress col-10 px-0 position-relative" >
                    <div class="progress-bar" style="width:@progress; background-color: skyblue" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="10"></div>
                    <small class="justify-content-center d-flex position-absolute w-100" style="color:black">@progress</small>
                </div>
                <div class="col-1 text-center">@nextlevel</div>
            </div>
        </div>

        <br />
        <div class="row text-center">
            <hr />
            <div class="col-3 pt-3 mt-3" style="background-color: #f0f6f6; border-radius: 30px">
                @if (Model.ProfileImage == "default-profile-picture.png")
                {
                    <img src="~/img/@Model.ProfileImage" asp-append-version="true" style="height:50px; border-radius:50%" alt="profile-image" />
                }
                else
                {
                    <img src="~/profileImg/@Model.ProfileImage" asp-append-version="true" style="height:50px; border-radius:50%" alt="profile-image" />
                }
                <br />
                <dl class="col text-center">
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dd>
                        @string.Format("{0:dd/MM/yyyy}", Model.DateCreated)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
                <hr />
                <h3>Projects</h3>
                <hr />
                <div class="col text-center">
                    @foreach (var item in Model.Projects.AsEnumerable())
                    {
                        <p>@item.ProjectName</p>
                    }
                </div>
                <hr />
                <h3>Groups</h3>
                <hr />
                <div class="col text-center">
                    @foreach (var item in Model.Groups)
                    {
                        <p>@item.GroupName</p>
                    }
                </div>

                @if (isSignedIn && User.Identity.Name == Model.Username)
                {
                    <a class="btn btn-primary" type="button" asp-area="Identity" asp-page="/Account/Manage/Index">Edit profile</a>
                }
                @if (User.IsInRole("SuperAdministrator"))
                {
                    <a id="manage-roles" type="button" asp-controller="User" asp-action="AdminOptions" asp-route-id="@Model.Username" class="btn btn-primary">Manage roles</a>
                }
            </div>
            <div class="col-9 text-center">
                <h3>Achievements</h3>
                <div class="container">
                    <div class="row pb-4 pt-4 align-items-center" style="background-color: #f0f6f6; border-radius: 30px">
                        @{
                            var list = Model.UserAchievements.Where(i => i.IsShowCase == true).ToArray();
                            for (int i = 0; i < 4; i++)
                            {
                                if (i < list.Count())
                                {
                                    <div class="col-sm flex-column">
                                        <a asp-controller="achievement" asp-action="index">
                                            <img src="~/achievementImg/@list[i].Achievement.Image" asp-append-version="true" style="max-width:40%" />
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm flex-column">
                                        <a asp-controller="achievement" asp-action="index">
                                            <img src="~/img/default-achievement.png" asp-append-version="true" style="max-width:40%" />
                                        </a>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="table-responsive mt-4 mb-4 p-4" style="background-color: #f0f6f6; border-radius: 30px">
                    <table class="table table-borderless">
                        <thead style="border-bottom: solid 1px rgba(0,0,0,.1)">
                            <tr>
                                <th>
                                    @Html.DisplayName("Total commits")
                                </th>
                                <th>
                                    @Html.DisplayName("Total issues created")
                                </th>
                                <th>
                                    @Html.DisplayName("Total issues solved")
                                </th>
                                <th>
                                    @Html.DisplayName("Total mergerequests")
                                </th>
                                <th>
                                    @Html.DisplayName("Total comments")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.UserStats.TotalCommits)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UserStats.TotalIssuesCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UserStats.TotalIssuesSolved)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UserStats.TotalMergeRequests)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.UserStats.TotalComments)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row m-0 p-4 justify-content-center" style="background-color: #f0f6f6; border-radius: 30px">
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

                    @if (Model.ChartDatas.Count > 0)
                    {
                        @*Buttons to Change Charts*@
                        <div class="pb-3">
                            <button class="btn btn-primary" id="all"> All</button>
                            <button class="btn btn-primary" id="commit"> Commits</button>
                            <button class="btn btn-primary" id="issuesCreated"> Issues created</button>
                            <button class="btn btn-primary" id="issuesSolved"> Issues solved</button>
                            <button class="btn btn-primary" id="mergeRequests"> Merge requests</button>
                            <button class="btn btn-primary" id="comments"> Comments</button>
                        </div>

                        <div class="row" data-provide="datepicker">
                            <div class="mr-1">
                                <p class="p-0 m-0">Start Date</p>
                                <input type="date" class="from-date" id="from-date">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            
                            <div class="ml-1">
                                <p class="p-0 m-0">End Date</p>
                                <input type="date" class="to-date" id="to-date">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12" id="dashboard">
                            <div id="chart" style='width: 100%; height: 300px;'></div>
                            <div id="control" style='width: 100%; height: 50px;'></div>
                        </div>
                    }

                    @section Scripts
                    {
                    <script type="text/javascript">
                        google.load('visualization', '1.1', { packages: ['corechart', 'controls'] });

                        function drawVisualization() {
                            var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));

                            var control = new google.visualization.ControlWrapper({
                                controlType: 'ChartRangeFilter',
                                containerId: 'control',
                                options: {
                                    // Filter by the date axis.
                                    filterColumnIndex: 0,
                                    ui: {
                                        chartType: 'LineChart',
                                        chartOptions: {
                                            backgroundColor: '#f0f6f6',
                                            chartArea: { 'width': '90%' },
                                            hAxis: { 'baselineColor': 'none', format: "yyyy/MM/dd", viewWindow: {}, }
                                        },
                                        // 1 day in milliseconds = 24 * 60 * 60 * 1000 = 86,400,000
                                        minRangeSize: 86400000
                                    }
                                },
                            });

                            var chart = new google.visualization.ChartWrapper({
                                chartType: 'LineChart',
                                containerId: 'chart',
                                options: {
                                    // Use the same chart area width as the control for axis alignment.
                                    chartArea: { 'height': '70%', 'width': '90%' },
                                    backgroundColor: '#f0f6f6',
                                    legend: { position: 'top' },
                                    hAxis: {
                                        title: 'Time',
                                        slantedText: false,
                                        format: 'yyyy/MM/dd',
                                        viewWindow: {},
                                    },
                                    vAxis: {
                                        format: '',
                                    }
                                },
                            });

                            var data = google.visualization.arrayToDataTable([
                                ['Time', 'Commits', 'Issues created', 'Issues solved', 'Merge request', 'Comments'],

                                @foreach (var data in Model.ChartDatas)
                                {
                                    <text>[new Date('@data.TimeStamp'), @data.NumOfCommits, @data.NumOfIssuesCreated, @data.NumOfIssuesSolved, @data.NumOfMergeRequests, @data.NumOfComments],</text>
                                }
                            ]);

                            var daterange1 = null;
                            document.getElementById("to-date").addEventListener("change", function () {
                                daterange1 = this.value;
                            });

                            var daterange2 = null;
                            document.getElementById("from-date").addEventListener("change", function () {
                                daterange2 = this.value;
                            });

                            var showDate = document.getElementById("to-date");
                            showDate.onchange = function () {
                                view = new google.visualization.DataView(data);
                                control.setState({
                                    range: {
                                        start: new Date(daterange2),
                                        end: new Date(daterange1)
                                    }
                                });

                                control.draw();
                            }

                            var showDate = document.getElementById("from-date");
                            showDate.onchange = function () {
                                view = new google.visualization.DataView(data);
                                control.setState({
                                    range: {
                                        start: new Date(daterange2),
                                        end: new Date(daterange1)
                                    }
                                });

                                control.draw();
                            }

                            //#region Listens for button click to change options and Data
                            var showAll = document.getElementById("all");
                            showAll.onclick = function () {
                                view = new google.visualization.DataView(data);
                                view.setColumns([0, 1, 2, 3, 4, 5]);
                                dashboard.draw(view);
                            }

                            var showCommit = document.getElementById("commit");
                            showCommit.onclick = function() {
                                view = new google.visualization.DataView(data);
                                chart.setOptions({
                                    chartArea: { 'height': '70%', 'width': '90%' },
                                    backgroundColor: '#f0f6f6',
                                    legend: { position: 'top' },
                                    hAxis: {
                                        title: 'Time',
                                        slantedText: false,
                                        format: 'yyyy/MM/dd',
                                        viewWindow: {},
                                    },
                                    vAxis: {
                                        format: '',
                                    }
                                });
                                view.setColumns([0, 1]);
                                dashboard.draw(view);
                            }

                            var showIssuesCreated = document.getElementById("issuesCreated");
                            showIssuesCreated.onclick = function () {
                                view = new google.visualization.DataView(data);
                                chart.setOptions({
                                    chartArea: { 'height': '70%', 'width': '90%' },
                                    backgroundColor: '#f0f6f6',
                                    legend: { position: 'top' },
                                    hAxis: {
                                        title: 'Time',
                                        slantedText: false,
                                        format: 'yyyy/MM/dd',
                                        viewWindow: {},
                                    },
                                    vAxis: {
                                        format: '',
                                    }
                                })
                                view.setColumns([0, 2]);
                                dashboard.draw(view);
                            }

                            var showIssuesSolved = document.getElementById("issuesSolved");
                            showIssuesSolved.onclick = function () {
                                view = new google.visualization.DataView(data);
                                chart.setOptions({
                                    chartArea: { 'height': '70%', 'width': '90%' },
                                    backgroundColor: '#f0f6f6',
                                    legend: { position: 'top' },
                                    hAxis: {
                                        title: 'Time',
                                        slantedText: false,
                                        format: 'yyyy/MM/dd',
                                        viewWindow: {},
                                    },
                                    vAxis: {
                                        format: '',
                                    }
                                })
                                view.setColumns([0, 3]);
                                dashboard.draw(view);
                            }

                            var showMergeRequest = document.getElementById("mergeRequests");
                            showMergeRequest.onclick = function () {
                                view = new google.visualization.DataView(data);
                                chart.setOptions({
                                    chartArea: { 'height': '70%', 'width': '90%' },
                                    backgroundColor: '#f0f6f6',
                                    legend: { position: 'top' },
                                    hAxis: {
                                        title: 'Time',
                                        slantedText: false,
                                        format: 'yyyy/MM/dd',
                                        viewWindow: {},
                                    },
                                    vAxis: {
                                        format: '',
                                    }
                                })
                                view.setColumns([0, 4]);
                                dashboard.draw(view);
                            }

                            var showComments = document.getElementById("comments");
                            showComments.onclick = function () {
                                view = new google.visualization.DataView(data);
                                chart.setOptions({
                                    chartArea: { 'height': '70%', 'width': '90%' },
                                    backgroundColor: '#f0f6f6',
                                    legend: { position: 'top' },
                                    hAxis: {
                                        title: 'Time',
                                        slantedText: false,
                                        format: 'yyyy/MM/dd',
                                        viewWindow: {},
                                    },
                                    vAxis: {
                                        format: '',
                                    }
                                })
                                view.setColumns([0, 5]);
                                dashboard.draw(view);
                            }
                            //#endregion

                            dashboard.bind(control, chart);
                            dashboard.draw(data);
                        }
                        google.setOnLoadCallback(drawVisualization);

                        $(window).resize(function () {
                            drawVisualization();
                        });
                    </script>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>Can't find user</h1>
    }
}
