@model List<HackerRank.ViewModels.UserViewModel>

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayName("Username")</a>                                
                            </th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["CommitSortParm"]">@Html.DisplayName("Commits")</a>
                            </th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["IssueCreatedSortParm"]">@Html.DisplayName("Issues created")</a>
                            </th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["IssueSolvedSortParm"]">@Html.DisplayName("Issues solved")</a>
                            </th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["MergeSortParm"]">@Html.DisplayName("Merge requests")</a>
                            </th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["CommentSortParm"]">@Html.DisplayName("Comments")</a>
                            </th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["DailySortParm"]">@Html.DisplayName("Daily rating")</a>
                            </th>
                            <th>
                                <a asp-controller="Home" asp-action="AllUsers" asp-route-sortOrder="@ViewData["MonthlySortParm"]">@Html.DisplayName("Monthly rating")</a>                                
                            </th>
                            <th>
                                @Html.DisplayName("Roles")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.ProfileImage == "default-profile-picture.png")
                                    {
                                        <img src="~/img/@item.ProfileImage" asp-append-version="true" style="height:50px; width:50px; border-radius:50%" alt="profile-image" />
                                    }
                                    else
                                    {
                                        <img src="~/profileImg/@item.ProfileImage" asp-append-version="true" style="height:50px; width:50px; border-radius:50%" alt="profile-image" />
                                    }
                                </td>
                                <td>
                                    <a class="nav-link px-0 py-0 my-0 mx-0" asp-area="" asp-controller="user" asp-action="profile" asp-route-id="@item.Username">@item.Username</a>
                                </td>
                                <td>
                                    @string.Format("{0:0}", item.UserStats.TotalCommits)
                                </td>
                                <td>
                                    @string.Format("{0:0}", item.UserStats.TotalIssuesCreated)
                                </td>
                                <td>
                                    @string.Format("{0:0}", item.UserStats.TotalIssuesSolved)
                                </td>
                                <td>
                                    @string.Format("{0:0}", item.UserStats.TotalMergeRequests)
                                </td>
                                <td>
                                    @string.Format("{0:0}", item.UserStats.TotalComments)
                                </td>
                                <td>
                                    @string.Format("{0:0.00}", item.UserStats.DailyRating)
                                </td>
                                <td>
                                    @string.Format("{0:0.00}", item.UserStats.MonthlyRating)
                                </td>
                                <td>
                                    @foreach (var role in item.Roles)
                                    {
                                        <p class="m-0">@role</p>
                                    }
                                </td>
                            </tr>                            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>