@model IEnumerable<HackerRank.ViewModels.TopFiveViewModel>

@{
    ViewData["Title"] = "Ranking";
}
<div class="img-background">
    <div class="box">
        <h1 class="Homepage-header">High Score</h1>
    </div>
    <div class="containers">
        <div class="box-bottom ranking">
            <h2>Top Users</h2>
            <div class="score-card" >
                
                    <img src="\img\hackerman (3).jpg" alt="">
                    
                    @* <div class="break"></div> *@
                    
                    <div class="paragraphs">
                        <h3>Jonas Brunhage</h3>
                    <p>25 Commits</p>
                    <p>26 Issues Created</p>
                    <p>27 Issues solved</p>
                    
                    @* <p>28 Merge requests</p>
                    <p>29 Comments</p>
                    <p>30 Daily rating</p> *@
                    </div>
                    <div class="paragraphs">
                    <p>25 Commits</p>
                    <p>26 Issues Crated</p>
                    <p>27 Issues solved</p>
                    
                    @* <p>28 Merge requests</p>
                    <p>29 Comments</p>
                    <p>30 Daily rating</p> *@
                    </div>
                
                @* <div class="paragraphs">
                    <p>25 Commits</p>
                    <p>26 Issues Crated</p>
                    <p>27 Issues solved</p>
                    <p>28 Merge requests</p>
                    <p>29 Comments</p>
                    <p>30 Daily rating</p>
                </div> *@


            </div>
        </div>
        <div class="box-bottom ranking">
            <h2>Top Teams</h2>
            @foreach (var item in Model)
            {
                @if (item.DailyRating != 0)
                {
                    <div class="flex-card">
                        <img src="../img/logo.png" asp-append-version="true"/>
                        <div class="stats">
                            <p class="white">@Html.DisplayFor(modelItem => item.UserName)</p>
                            <div class="flex-paragraf">
                                <p class="flex-item"><b>@string.Format("{0:0}", item.Commits) </b>Commits</p>
                                <p class="flex-item item-2"><b>@string.Format("{0:0}", item.IssuesCreated)</b> Issues Created</p>
                                <p class="flex-item item-3"><b>@string.Format("{0:0}", item.IssuesSolved) </b> Issues solved</p>
                            </div>
                            <div class="flex-paragraf">
                                <p class="flex-item"><b>@string.Format("{0:0}", item.MergeRequest) </b> Merge requests</p>
                                <p class="flex-item item-2"><b>@string.Format("{0:0}", item.Comments) </b> Comments</p>
                                <p class="flex-item item-3"><b>@string.Format("{0:0.00}", item.DailyRating) </b> Daily rating</p>
                            </div>
                        </div>
                    </div>
     
                }
            }
            
            <div class="flex-card">
                <img src="\img\hackerman (3).jpg" alt="">
                <div class="stats">
                    <p class="white">Jonas Brunhage</p>
                    <div class="flex-paragraf">
                        <p class="flex-item"><b>25 </b>Commits</p>
                        <p class="flex-item"><b>26 </b> Issues Created</p>
                        <p class="flex-item"><b>27 </b> Issues solved</p>
                    </div>
                    <div class="flex-paragraf">
                        <p class="flex-item"><b>28 </b> Merge requests</p>
                        <p class="flex-item"><b>29 </b> Comments</p>
                        <p class="flex-item"><b>30 </b> Daily rating</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="box-bottom ranking">
            <h2>Top Level</h2>
            <div class="flex-card">
                <img src="\img\hackerman (3).jpg" alt="">
                <div class="stats">
                    <p class="white">Jonas Brunhage</p>
                    <div class="flex-paragraf">
                        <p class="flex-item">Prestige</p>       
                    </div> 
                </div>
                <div>
                    <div><h3>LV</h3></div>
                    <div><h3>16</h3></div>
                </div>
            </div>
        </div>
        <div class="box-bottom live-feed">
            <h2>Live Feed</h2>
        </div>

    </div>


</div>












@* <div class="grid">
    <div class="box-left">
        <div class="head-row">
            <p></p>
            <p >Username</p>
            <p>Commits</p>
            <p>Issues created</p>
            <p>Issues solved</p>
            <p>Merge request</p>
            <p>Comments</p>
            <p class="text-design">Daily rating</p>
        </div>
        <div class="card">
            @foreach (var item in Model)
            {
                @if (item.DailyRating != 0)
                {
                    <img src="../img/logo.png" asp-append-version="true" class="profile-pic" />
                    <p >@Html.DisplayFor(modelItem => item.UserName)</p>
                    <p>@string.Format("{0:0}", item.Commits)</p>
                    <p> @string.Format("{0:0}", item.IssuesCreated)</p>
                    <p>@string.Format("{0:0}", item.IssuesSolved)</p>
                    <p>@string.Format("{0:0}", item.MergeRequest)</p>
                    <p>@string.Format("{0:0}", item.Comments)</p>
                    <p class="text-design">@string.Format("{0:0.00}", item.DailyRating)</p>
                }
            }         
        </div>
    </div> *@
    @*Team*@
    @* <div class="box-left2">
        <div class="head-row">
            <p></p>
            <p >Name</p>
            <p >Commits</p>
            <p >Issues created</p>
            <p >Issues solved</p>
            <p>Merge request</p>
            <p>Comments</p>
            <p class="text-design">Daily rating</p>
        </div>
        <div class="card">
             @foreach (var item in Model)
            {
                @if (item.GroupRating != 0)
                {
                        <p></p>
                        <p >@Html.DisplayFor(modelItem => item.GroupName)</p>
                        <p>@string.Format("{0:0}", item.CommitsDaily)</p>
                        <p> @string.Format("{0:0}", item.IssuesCreatedDaily)</p>
                        <p>@string.Format("{0:0}", item.IssuesSolvedDaily)</p>
                        <p>@string.Format("{0:0}", item.MergeRequestsDaily)</p>
                        <p>@string.Format("{0:0}", item.CommentsDaily)</p>
                        <p class="text-design">@string.Format("{0:0.00}", item.GroupRating)</p>         
                }             
            }         
        </div> 

    </div>

    <div class="center">
        <div class="head-row2">
            <p></p>
            <p >Name</p>
            <p>Prestige</p>
            <p class="text-design">Level</p>
        </div>
        <div class="card2"> *@
            @* @foreach (var item in Model)
            { 
                if (item.UserLevel != null)
                {
                            
                    <img src="~/profileImg/@item.UserLevel.User.ProfileImage" asp-append-version="true" style="height:50px" />
                    
                    <p>
                        @Html.DisplayFor(modelItem => item.UserLevel.User.UserName)  
                    </p>
                    <p>
                        @string.Format("{0:0}", item.UserLevel.PrestigeLevel)
                    </p>
                    <p>
                        @string.Format("{0:0}", item.UserLevel.Level.LevelName)
                    </p>
                    <p>ffff</p>
                    
                }              
            }          *@
                    @* <img src="../img/logo.png" asp-append-version="true" class="profile-pic" />
                    
                    <p>
                       fff  
                    </p>
                    <p>
                        ffff
                    </p>
                    <p>
                        ggg
                    </p>
                    
        </div> 
        
    </div> *@

    @* <div class="box-right">
        <article class="live_feed">
            <div class="overlay">
            <p class="pulsate-text">Live feed </p>
            <ul id="live_feed" >
                <li>Hej</li>
                <li>jfdfd dfdf dfdf df</li>
            </ul>                
            <div class="box">
                <div class="pic">
                    <img src="~/img/hackerman (3).jpg" alt="" style="width: 100%;">
                        
                              
                </div>
                <div id="delay" class="pic" style="--order: 1">
                    <img src="~/img/hackerman (3).jpg" alt="" style="width: 100%;">
                             
                </div>
                <div id="delay" class="pic" style="--order: 2">
                    <img src="~/img/hackerman (3).jpg" alt="" style="width: 100%;">
                            
                </div>      
            </div> 
            </div> 
            </div>
        </article>       
    </div>
</div>
</div> *@

@* <div class="container">
    <div class="row text-center">
        <div class="col-9"> *@
            @* <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayName("Username")
                            </th>
                            <th>
                                @Html.DisplayName("Commits")
                            </th>
                            <th>
                                @Html.DisplayName("Issues created")
                            </th>
                            <th>
                                @Html.DisplayName("Issues solved")
                            </th>
                            <th>
                                @Html.DisplayName("Merge requests")
                            </th>
                            <th>
                                @Html.DisplayName("Comments")
                            </th>
                            <th>
                                @Html.DisplayName("Daily rating")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.DailyRating != 0)
                            {
                                <tr>
                                    <td>
                                        <img src="~/profileImg/@item.ProfileImage" asp-append-version="true" style="height:50px" />
                                    </td>
                                    <td>
                                        <a class="nav-link text-info px-0 py-0 my-0 mx-0" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@item.UserName">@item.UserName</a>
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.Commits)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesCreated)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesSolved)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.MergeRequest)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.Comments)
                                    </td>
                                    <td>
                                        @string.Format("{0:0.00}", item.DailyRating)
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Commits")
                            </th>
                            <th>
                                @Html.DisplayName("Issues created")
                            </th>
                            <th>
                                @Html.DisplayName("Issues solved")
                            </th>
                            <th>
                                @Html.DisplayName("Merge requests")
                            </th>
                            <th>
                                @Html.DisplayName("Comments")
                            </th>
                            <th>
                                @Html.DisplayName("Daily rating")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.GroupRating != 0)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupName)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.CommitsDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesCreatedDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesSolvedDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.MergeRequestsDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.CommentsDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0.00}", item.GroupRating)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div> *@

            @* <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Prestige")
                            </th>
                            <th>
                                @Html.DisplayName("Level")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.UserLevel != null)
                            {
                                <tr>
                                    <td>
                                        <img src="~/profileImg/@item.UserLevel.User.ProfileImage" asp-append-version="true" style="height:50px" />
                                    </td>
                                    <td>
                                        <a class="nav-link text-info px-0 py-0 my-0 mx-0" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@item.UserLevel.User.UserName">@item.UserLevel.User.UserName</a>
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.UserLevel.PrestigeLevel)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.UserLevel.Level.LevelName)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div> *@
        @* </div> *@
        @* <div class="col-3 wrapper">
            <article class="live_feed">
                <p class="pulsate">Live feed </p>
                <ul id="live_feed" >
                    <li>Hej</li>
                </ul>
                <ul><li>hrrrr</li></ul>
                
                <div class="box">
                    
                    <div class="bild">
                        @foreach (var item in Model){
                            @if (item.ProfileImage != null){
                            <img src="~/profileImg/@item.ProfileImage" asp-append-version="true" style="width:100%" />
                        }}          
                    </div>
                    <div id="delay" class="bild" style="--order: 1">
                        @foreach (var item in Model){
                            @if (item.ProfileImage != null){
                            <img src="~/profileImg/@item.ProfileImage" asp-append-version="true" style="width:100%" />
                        }}          
                    </div>
                    <div id="delay" class="bild" style="--order: 2">
                        @foreach (var item in Model){
                            @if (item.ProfileImage != null){
                            <img src="~/profileImg/@item.ProfileImage" asp-append-version="true" style="width:100%" />
                        }}          
                    </div>      
                </div>
                
            </article>
            
        </div> *@
        @* <div class="bild2">
            <img src="..\img\logo.png" alt="">
        </div>
        <div class="bild2 rotate">
            @foreach (var item in Model){
                 @if (item.ProfileImage != null){
                <img src="~/profileImg/@item.ProfileImage" asp-append-version="true" style="width:100%" />
            }}          
        </div> *@

    @* </div>
    
    <div class="custom-shape-divider-bottom-1619695453">
      
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,172,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        
    </svg>
    
    </div> *@



