@model IEnumerable<HackerRank.ViewModels.TopFiveViewModel>

@{
    ViewData["Title"] = "Ranking";
}

@using Microsoft.AspNetCore.Identity
@using HackerRank.Models.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="container text-center">
    <h1>HackerRank</h1>
</div>
<div class="container">   
    <div class="row justify-content-start">
        <div class="col-2">Username</div>        
        <div class="col">Commits</div>
        <div class="col">Issues created</div>
        <div class="col">Issues solved</div>
        <div class="col">Merge request</div>
        <div class="col">Comments</div>
        <div class="col">Daily rating</div>
    </div>
    <div class="row justify-content-start kort">
        @foreach (var item in Model)
        {
            @if (item.DailyRating != 0)
            {
                <div class="col-2">@Html.DisplayFor(modelItem => item.UserName)</div>
                <div class="col">@string.Format("{0:0}", item.Commits)</div>
                <div class="col"> @string.Format("{0:0}", item.IssuesCreated)</div>
                <div class="col">@string.Format("{0:0}", item.IssuesSolved)</div>
                <div class="col">@string.Format("{0:0}", item.MergeRequest)</div>
                <div class="col">@string.Format("{0:0}", item.Comments)</div>
                <div class="col">@string.Format("{0:0.00}", item.DailyRating)</div>
            }
        }
    </div>
    @*Team*@
    <div class="head-row">
        <p>Name</p>
        <p>Commits</p>
        <p>Issues created</p>
        <p>Issues solved</p>
        <p>Merge request</p>
        <p>Comments</p>
        <p class="text-design">Daily rating</p>
    </div>
    <div class="kort text-center">
        @foreach (var item in Model)
        {
            @if (item.DailyRating != 0)
            {
                <p class="bredd">@Html.DisplayFor(modelItem => item.UserName)</p>
                <p>@string.Format("{0:0}", item.Commits)</p>
                <p> @string.Format("{0:0}", item.IssuesCreated)</p>
                <p>@string.Format("{0:0}", item.IssuesSolved)</p>
                <p>@string.Format("{0:0}", item.MergeRequest)</p>
                <p>@string.Format("{0:0}", item.Comments)</p>
                <p class="text-design">@string.Format("{0:0.00}", item.DailyRating)</p>
            }
        }
    </div>
    <div class="kort text-center">
        @foreach (var item in Model)
        {
            @if (item.GroupRating != 0)
            {
                <p class="bredd">@Html.DisplayFor(modelItem => item.GroupName)</p>
                <p>@string.Format("{0:0}", item.CommitsDaily)</p>
                <p> @string.Format("{0:0}", item.IssuesCreatedDaily)</p>
                <p>@string.Format("{0:0}", item.IssuesSolvedDaily)</p>
                <p>@string.Format("{0:0}", item.MergeRequestsDaily)</p>
                <p>@string.Format("{0:0}", item.CommentsDaily)</p>
                <p class="text-design">@string.Format("{0:0.00}", item.GroupRating)</p>
            }
        }
    </div></div>


    <div class="text-center table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="site-header">
                        @Html.DisplayName("Username")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Commits")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Issues created")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Issues solved")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Merge requests")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Comments")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Daily rating")
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    @if (item.DailyRating != 0)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                                @*@if (SignInManager.IsSignedIn(User))
                                    {
                                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@User.Identity.Name">@Html.DisplayFor(modelItem => item.UserName)</a>
                                    }*@

                            </td>
                            <td>
                                @string.Format("{0:0}", item.Commits)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.IssuesCreated)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.IssuesSolved)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.MergeRequest)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.Comments)
                            </td>
                            <td>
                                @string.Format("{0:0.00}", item.DailyRating)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        @Html.DisplayName("Name")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Commits")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Issues created")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Issues solved")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Merge requests")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Comments")
                    </th>
                    <th scope="col">
                        @Html.DisplayName("Daily rating")
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.GroupRating != 0)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.GroupName)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.CommitsDaily)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.IssuesCreatedDaily)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.IssuesSolvedDaily)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.MergeRequestsDaily)
                            </td>
                            <td>
                                @string.Format("{0:0}", item.CommentsDaily)
                            </td>
                            <td>
                                @string.Format("{0:0.00}", item.GroupRating)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
