@model HackerRank.ViewModels.TopFiveViewModel

@{
    ViewData["Title"] = "Ranking";
}

<div class="container">
    <div class="row text-center">
        <div class="col-9">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                @Html.DisplayName("Username")
                            </th>
                            <th>
                                @Html.DisplayName("Commits")
                            </th>
                            <th>
                                @Html.DisplayName("Issues created")
                            </th>
                            <th>
                                @Html.DisplayName("Issues solved")
                            </th>
                            <th>
                                @Html.DisplayName("Merge requests")
                            </th>
                            <th>
                                @Html.DisplayName("Comments")
                            </th>
                            <th>
                                @Html.DisplayName("Daily rating")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TopFiveUsers)
                        {
                            @if (item.DailyRating != 0)
                            {
                                <tr>
                                    <td>
                                        <img src="~/profileImg/@item.ProfileImage" asp-append-version="true" style="height:50px" />
                                    </td>
                                    <td>
                                        <a class="nav-link text-info px-0 py-0 my-0 mx-0" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@item.Username">@item.Username</a>
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.Commits)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesCreated)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesSolved)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.MergeRequest)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.Comments)
                                    </td>
                                    <td>
                                        @string.Format("{0:0.00}", item.DailyRating)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Commits")
                            </th>
                            <th>
                                @Html.DisplayName("Issues created")
                            </th>
                            <th>
                                @Html.DisplayName("Issues solved")
                            </th>
                            <th>
                                @Html.DisplayName("Merge requests")
                            </th>
                            <th>
                                @Html.DisplayName("Comments")
                            </th>
                            <th>
                                @Html.DisplayName("Daily rating")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TopFiveGroups)
                        {
                            if (item.GroupDailyRating != 0)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupName)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.CommitsDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesCreatedDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.IssuesSolvedDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.MergeRequestsDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.CommentsDaily)
                                    </td>
                                    <td>
                                        @string.Format("{0:0.00}", item.GroupDailyRating)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayName("Name")
                            </th>
                            <th>
                                @Html.DisplayName("Prestige")
                            </th>
                            <th>
                                @Html.DisplayName("Level")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UserLevel)
                        {
                            if (item != null)
                            {
                                <tr>
                                    <td>
                                        <img src="~/profileImg/@item.User.ProfileImage" asp-append-version="true" style="height:50px" />
                                    </td>
                                    <td>
                                        <a class="nav-link text-info px-0 py-0 my-0 mx-0" asp-area="" asp-controller="User" asp-action="Details" asp-route-id="@item.User.UserName">@item.User.UserName</a>
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.PrestigeLevel)
                                    </td>
                                    <td>
                                        @string.Format("{0:0}", item.Level.LevelName)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3">
            <article id="live_feed_article" class="live_feed">
                <p>Live feed </p>
                <ul id="live_feed" class="list-group"></ul>
            </article>
        </div>
    </div>
</div>
