@model IEnumerable<HackerRank.Models.Users.User>

@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("UserName")
            </th>
            <th>
                @Html.DisplayName("MergeRequests")
            </th>
            <th>
                @Html.DisplayName("Commits")
            </th>
            <th>
                @Html.DisplayName("IssuesCreated")
            </th>
            <th>
                @Html.DisplayName("IssuesSolved")
            </th>
            <th>
                @Html.DisplayName("Comments")
            </th>
            <th>
                @Html.DisplayName("DailyRating")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStats.TotalMergeRequests)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStats.TotalCommits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStats.TotalIssuesCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStats.TotalIssuesSolved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStats.TotalComments)
                </td>
                <td>
                    @string.Format("{0:0.00}", item.UserStats.DailyRating)
                </td>
            </tr>
        }
    </tbody>
</table>