@model IEnumerable<HackerRank.ViewModels.TopFiveGroupsViewModel>

@{
    ViewData["Title"] = "Ranking";
}

<h1>Ranking</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Group name")
            </th>
            <th>
                @Html.DisplayName("Commits")
            </th>
            <th>
                @Html.DisplayName("Issues Created")
            </th>
            <th>
                @Html.DisplayName("Issues Solved")
            </th>
            <th>
                @Html.DisplayName("Merge Requests")
            </th>
            <th>
                @Html.DisplayName("Comments")
            </th>
            <th>
                @Html.DisplayName("DailyRating")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @string.Format("{0:0.00}", item.CommitsDaily)
            </td>
            <td>
                @string.Format("{0:0.00}", item.IssuesCreatedDaily)
            </td>
            <td>
                @string.Format("{0:0.00}", item.IssuesSolvedDaily)
            </td>
            <td>
                @string.Format("{0:0.00}", item.MergeRequestsDaily)
            </td>
            <td>
                @string.Format("{0:0.00}", item.CommentsDaily)
            </td>
            <td>
                @string.Format("{0:0.00}", item.GroupRating)
            </td>
        </tr>
        }
    </tbody>
</table>