@model HackerRank.ViewModels.AchievementViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1>Details</h1>
    @*<h4>Achievement</h4>*@
    <div class="detail-contianer">
        <div class="detail-card">
            <img class="detail-image" src="~/achievementImg/@Model.Image"
                 asp-append-version="true" />
            <h1 class="detail-title"> @Html.DisplayFor(model => model.AchievementName)</h1>
            <p class="detail-description"> @Html.DisplayFor(model => model.Description)</p>
            <div>
                <h5>
                    @Html.DisplayName("Number of actions needed"):  @Html.DisplayFor(model => model.NumberOfActions)
                </h5>
            </div>
            <div>
                <a class="badge badge-primary col-lg-4 detail-link" asp-action="Index">Back to List</a>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Administrator"))
                    {
                        <a class="badge badge-primary col-lg-4 detail-link" asp-action="Edit" asp-route-id="@Model.AchievementId">Edit</a>
                    }
                }
            </div>
        </div>
    </div>

    

    @*<div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="h2-style col-sm-2"> @Html.DisplayName("Achievement"):</div>
                    <div class="h2-style col-sm-10"> @Html.DisplayFor(model => model.AchievementName)</div>
                </div>
                <div class="row">
                    <div class="col-sm-2"> @Html.DisplayNameFor(model => model.Description):</div>
                    <div class="col-sm-10"> @Html.DisplayFor(model => model.Description)</div>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="img-thumbnail achievementImg" src="~/achievementImg/@Model.Image"
                     asp-append-version="true" />
            </div>
        </div>*@
</div>

@*<div>
    <img src="~/achievementImg/@Model.Image"
         asp-append-version="true" style="max-width:25%" />
    <br />
    <dl class="col">
        <dt class="col-sm-2">
            @Html.DisplayName("Achievement")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AchievementName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Number of actions needed")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfActions)
        </dd>
    </dl>
</div>*@
