@model HackerRank.ViewModels.AchievementViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Achievement</h4>
    <hr />
    @if (Model.Image == "default-achievement.png")
    {
        <img src="~/img/default-achievement.png" height="60" width="60" asp-append-version="true" />
    }
    else
    {
        <img src="~/achievementImg/@Model.Image" height="60" width="60" asp-append-version="true" />
    }
    <br />
    <dl class="col">
        <dt class="col-sm-2">
            @Html.DisplayName("Achievement")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AchievementName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Number of actions needed")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfActions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>

    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Administrator"))
        {
            <a asp-action="Edit" asp-route-id="@Model.AchievementId"> | Edit</a>
        }
    }
</div>
